.topics {
  .topic {
    .count {
      font-size: 150%;
    }
    .info {
      color: #aaa;

      .node {
        margin: 1px 5px;
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }
  }
}
